[Unit]
Description=Gunicorn wsgi instance of the inference dashboard service
After=network.target

[Service]
User=webportal
Group=webportal
WorkingDirectory=/home/webportal/inference-gateway
Environment=PATH=/home/webportal/inference-gateway/.venv/bin/
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/webportal/inference-gateway/.venv/bin/gunicorn -c deploy/dashboard_wsgi.config.py dashboard_async.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target