[Unit]
Description=Gunicorn async asgi instance of the inference gateway service
After=network.target

[Service]
User=webportal
Group=webportal
WorkingDirectory=/home/webportal/inference-gateway
Environment=PATH=/home/webportal/inference-gateway/.venv/bin/
Enivonment="PYTHONUNBUFFERED=1"
ExecStart=/home/webportal/inference-gateway/.venv/bin/gunicorn -c gunicorn_asgi.config.py inference_gateway.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target